@charset "UTF-8";
/** Main SCCS file
 * --------------------------------
 *
 * Made with ♥ byt @ey_charles
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

html {
  font-size: 13px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1048px) {
  html {
    font-size: 20px;
  }
}

.font-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.font-2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.color-black {
  color: #272a31;
}

.color-dark {
  color: #525252;
}

.color-orange {
  color: #ec5242;
}

.color-gray {
  color: #d3d3d3;
}

.color-white {
  color: white;
}

.size-1 {
  font-size: 3.375rem;
}

.size-2 {
  font-size: 2.25rem;
}

.size-3 {
  font-size: 1.5rem;
}

.size-4 {
  font-size: 1rem;
}

.size-5 {
  font-size: 0.75rem;
}

.bg-dark {
  background-color: #282b31;
}

.bg-white {
  background: white;
}

.bg-lightgray {
  background-color: #f7f7f7;
}

.bg-translucid {
  background-color: rgba(247, 247, 247, 0.6);
}

.bg-translucid-85 {
  background-color: rgba(247, 247, 247, 0.85);
}

.bg-translucid-95 {
  background-color: rgba(247, 247, 247, 0.95);
}

.bg-airtable {
  background: url("r/img/bg-airtable.jpg");
}

.pattern-square-dark {
  background-image: url("r/img/pattern-square-dark.png");
}

.shadow-1 {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.link {
  color: #ec5242;
}
.link:hover {
  color: white;
  background: #ec5242;
  text-decoration: none;
}

.border {
  border: 1px solid #d3d3d3;
}

.border-bottom {
  border-bottom: 1px solid #d3d3d3;
}

.border-radius-5 {
  border-radius: 5rem;
}

.border-mini {
  position: relative;
}

.border-mini:after {
  background: #ec5242;
  display: inline-block;
  width: 2rem;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.wrapper {
  width: 90%;
  max-width: 1048px;
  margin: 0 auto;
}

.wrapper-m {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  box-sizing: border-box;
  padding: 0.5rem;
  flex-basis: 100%;
}

.f-2-cols,
.f-3cols {
  flex-wrap: wrap;
}

.f-2-cols .flex-col {
  flex-basis: 50%;
}

.f-3-cols .flex-col {
  flex-basis: 33.3%;
}

.f-align-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-justify-around {
  justify-content: space-around;
}

.f-justify-evenly {
  justify-content: space-evenly;
}

.f-justify-start {
  justify-content: flex-start;
}

.f-justify-around .flex-col,
.f-justify-start .flex-col,
.f-justify-evenly .flex-col {
  flex-basis: auto;
}

@media (max-width: 768px) {
  .f-column-below-m {
    flex-direction: column;
  }
}
.Btn {
  background: #ec5242;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  cursor: pointer;
  outline: none;
  border: 2px solid #ec5242;
}

.Btn:hover {
  background-color: white;
  color: #ec5242;
}

.Hero {
  padding: 5.0625rem 0;
}

.Hero h1 {
  -webkit-text-stroke: 2px black;
}

.Hero-subtitle {
  -webkit-text-stroke: 1px black;
}

.Hero-text {
  background: #f7f7f7;
  border: 3px solid white;
}

.Program-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: 2fr 3fr 6fr;
  align-items: center;
  column-gap: 0.75rem;
}
@media (min-width: 768px) {
  .Program-box {
    display: block;
    text-align: center;
    padding: 1.5rem;
  }
}

.Program-box h3 {
  font-weight: 700;
}

.Program-box p {
  font-size: 0.85rem;
}

.Speaker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Speaker-fig {
  flex-basis: 120px;
  height: 120px;
  background: #d3d3d3;
  flex-shrink: 0;
}

.Speaker-info {
  box-sizing: border-box;
  padding-left: 1.5rem;
}

.Speaker h3 {
  font-weight: 700;
}

.Topbar-item {
  color: #d3d3d3;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.75rem;
}
.Topbar-item:hover {
  color: white;
}

.Menubar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.Menubar-right {
  text-align: right;
}

.Menubar-logo {
  display: block;
  width: 6rem;
}

.Menubar-item {
  color: #525252;
  text-decoration: none;
  margin-left: 3.375rem;
}
.Menubar-item:hover {
  color: #ec5242;
}

.-current.Menubar-item {
  color: #ec5242;
  cursor: default;
}

.Menubar-btn {
  color: white;
  background: #ec5242;
  text-decoration: none;
  padding: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.Menubar-btn:hover {
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 1.55rem;
}

.Menuicon {
  display: none;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.375rem 0.85rem;
  border-radius: 5rem;
}
@media (max-width: 768px) {
  .Menuicon {
    display: block;
  }
}

.Footer-logo {
  width: 6rem;
}

.Partner-logo {
  width: 10rem;
  -webkit-filter: grayscale(1) brightness(180%);
  filter: grayscale(1) brightness(180%);
}

.Partner-logo.google {
  -webkit-filter: grayscale(1) brightness(90%);
  filter: grayscale(1) brightness(90%);
}

.Partner-logo.css-tricks {
  -webkit-filter: brightness(250%);
  filter: brightness(250%);
}

.Contest-logo {
  display: block;
  max-width: 18rem;
  margin: 0 auto;
}

.Past-item {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Past-item-text {
  display: block;
  color: white;
  text-decoration: none;
}

.conf-2020 {
  background: url("r/img/conf-2020.jpg") center no-repeat;
  background-size: cover;
}

.conf-2019 {
  background: url("r/img/conf-2019.jpg") center no-repeat;
  background-size: cover;
}

.Form-instruction {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  .hide-below-m {
    display: none !important;
  }
}
.py-s {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-m {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-l {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-s {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-m {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-l {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-xl {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.my-s {
  margin-top: 0.75rem;
}

.my-m {
  margin-top: 1.5rem;
}

.my-l {
  margin-top: 3rem;
}

.my-xl {
  margin-top: 4.5rem;
}

.mt-s {
  margin-top: 0.75rem;
}

.mt-m {
  margin-top: 1.5rem;
}

.mt-l {
  margin-top: 3rem;
}

.mt-xl {
  margin-top: 4.5rem;
}

.mr-s {
  margin-right: 0.75rem;
}

.mr-m {
  margin-right: 1.5rem;
}

.mr-l {
  margin-right: 3rem;
}

.mr-xl {
  margin-right: 4.5rem;
}

.mb-s {
  margin-bottom: 0.75rem;
}

.mb-m {
  margin-bottom: 1.5rem;
}

.mb-l {
  margin-bottom: 3rem;
}

.mb-xl {
  margin-bottom: 4.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
