/** Main SCCS file
 * --------------------------------
 *
 * Made with ♥ byt @ey_charles
**/

// !variables
// --------------------------------
$font-1: 'Montserrat', sans-serif;
$font-2: 'Lato', sans-serif;

$color-black: #272a31;
$color-orange: #ec5242;
$color-dark: #525252;
$color-gray: #d3d3d3;
$color-lightgray: #f7f7f7;

$bp-m: 768px;
$bp-l: 1048px;

// !reset
// --------------------------------
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

// !theme
// --------------------------------
html {
  font-size: 13px;

  @media (min-width: $bp-m) {
    font-size: 16px;
  }

  @media (min-width: $bp-l) {
    font-size: 20px;
  }
}

.font-1 {
  font-family: $font-1;
  font-weight: 700;
}

.font-2 {
  font-family: $font-2;
  font-weight: 400;
}

// Text colors
.color-black { color: $color-black; }
.color-dark { color: $color-dark; }
.color-orange { color: $color-orange; }
.color-gray { color: $color-gray; }
.color-white { color: white; }

// Text sizes
.size-1 { font-size: 3.375rem; }
.size-2 { font-size: 2.25rem; }
.size-3 { font-size: 1.5rem; }
.size-4 { font-size: 1rem; }
.size-5 { font-size: 0.75rem; }

// Background colors
.bg-dark { background-color: #282b31; }
.bg-white { background: white; }
.bg-lightgray { background-color: $color-lightgray; }
.bg-translucid { background-color: rgba(247, 247, 247, 0.6); }
.bg-translucid-85 { background-color: rgba(247, 247, 247, 0.85); }
.bg-translucid-95 { background-color: rgba(247, 247, 247, 0.95); }
.bg-airtable { background: url("../img/bg-airtable.jpg"); }

// Patterns
.pattern-square-dark {
  background-image: url("../img/pattern-square-dark.png");
}

// Shadows
.shadow-1 {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

// Links
.link {
  color: $color-orange;

  &:hover {
    color: white;
    background: $color-orange;
    text-decoration: none;
  }
}

.border {
  border: 1px solid $color-gray;
}

.border-bottom {
  border-bottom: 1px solid $color-gray;
}

.border-radius-5 {
  border-radius: 5rem;
}

.border-mini {
  position: relative;
}

.border-mini::after {
  background: $color-orange;
  display: inline-block;
  width: 2rem;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0%);
}

// !layout
// --------------------------------
.wrapper {
  width: 90%;
  max-width: 1048px;
  margin: 0 auto;
}

.wrapper-m {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

// Flexbox grid
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  box-sizing: border-box;
  padding: 0.5rem;
  flex-basis: 100%;
}

// Two columns
.f-2-cols,
.f-3cols {
  flex-wrap: wrap;
}

.f-2-cols .flex-col { flex-basis: 50%; }
.f-3-cols .flex-col { flex-basis: 33.3%; }

// flex modifiers
.f-align-center { align-items: center; }
.f-wrap { flex-wrap: wrap; }

.f-justify-around { justify-content: space-around; }
.f-justify-evenly { justify-content: space-evenly; }
.f-justify-start { justify-content: flex-start; }

.f-justify-around .flex-col,
.f-justify-start .flex-col,
.f-justify-evenly .flex-col {
  flex-basis: auto;
}

// responsive breakpoints
@media (max-width: $bp-m) {
  .f-column-below-m {
    flex-direction: column;
  }
}

// !Components
// --------------------------------
.Btn {
  background: $color-orange;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  cursor: pointer;
  outline: none;
  border: 2px solid $color-orange;
}

.Btn:hover {
  background-color: white;
  color: $color-orange;
}

// .Hero
.Hero {
  padding: 5.0625rem 0;
}

.Hero h1 {
  -webkit-text-stroke: 2px black;
}

.Hero-subtitle {
  -webkit-text-stroke: 1px black;
}

.Hero-text {
  background: $color-lightgray;
  border: 3px solid white;
}

// .Program
.Program-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: 2fr 3fr 6fr;
  align-items: center;
  column-gap: 0.75rem;

  @media (min-width: $bp-m) {
    display: block;
    text-align: center;
    padding: 1.5rem;
  }
}

.Program-box h3 a {
  font-weight: 700;
  text-decoration: none;
}

.Program-box p {
  font-size: 0.85rem;
}

// .Speaker
.Speaker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Speaker-fig {
  flex-basis: 120px;
  height: 120px;
  background: $color-gray;
  flex-shrink: 0;
}

.Speaker-info {
  box-sizing: border-box;
  padding-left: 1.5rem;
}

.Speaker h3 {
  font-weight: 700;
}

// .Topbar
.Topbar-item {
  color: $color-gray;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.75rem;

  &:hover {
    color: white;
  }
}

// Menubar
.Menubar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.Menubar-right {
  text-align: right;
}

.Menubar-logo {
  display: block;
  width: 6rem;
}

.Menubar-item {
  color: $color-dark;
  text-decoration: none;
  margin-left: 3.375rem;

  &:hover {
    color: $color-orange;
  }
}

.-current.Menubar-item {
  color: $color-orange;
  cursor: default;
}

.Menubar-btn {
  color: white;
  background: $color-orange;
  text-decoration: none;
  padding: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    padding: 1.55rem;
  }
}

.Menuicon {
  display: none;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.375rem 0.85rem;
  border-radius: 5rem;

  @media (max-width: $bp-m) {
    display: block;
  }
}

// Footer
.footer-logo {
  width: 6rem;
}

// Partners
.partner-logo {

  width: 10rem;
  -webkit-filter: grayscale(1) brightness(180%);
  filter: grayscale(1) brightness(180%);
}

.Partner-logo.google {
  -webkit-filter: grayscale(1) brightness(90%);
  filter: grayscale(1) brightness(90%);
}

.Partner-logo.css-tricks {
  -webkit-filter: brightness(250%);
  filter: brightness(250%);
}

// .Contest
.Contest-logo {
  display: block;
  max-width: 18rem;
  margin: 0 auto;
}

// .Past
.Past-item {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Past-item-text {
  display: block;
  color: white;
  text-decoration: none;
}

.conf-2020 {
  background: url("../img/conf-2020.jpg") center no-repeat;
  background-size: cover;
}

.conf-2019 {
  background: url("../img/conf-2019.jpg") center no-repeat;
  background-size: cover;
}

// .Form
.Form-instruction {
  display: flex;
}

// TicketTable
.TicketTable {
  background: white;
  border-collapse: collapse;
  width: 100%;

  thead {
    background: $color-lightgray;
  }

  td,
  tr,
  th {
    border: 1px solid $color-gray;
    padding: 0.5rem;
  }

  td {
    padding: 1rem 0.5rem;
  }

  th {
    font-weight: 700;
  }

  label {
    color: $color-orange;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
    cursor: pointer;
  }
}

.postal-border {
  background: url("../img/pattern-brief.jpg");
  padding: 0.5rem;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

// !utilities
// --------------------------------
// display
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-flex { display: flex; }
.d-none { display: none; }

// Responsive hide
@media (max-width: $bp-m) {
  .hide-below-m {
    display: none !important;
  }
}

// whitespace
$sizes: ("s": 0.75rem, "m": 1.5rem, "l": 3rem, "xl": 4.5rem);

// padding y-axis
@each $name, $size in $sizes {
  .py-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

// padding x-axis
@each $name, $size in $sizes {
  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
}

// margin y-axis
@each $name, $size in $sizes {
  .my-#{$name} {
    margin-top: $size;
  }
}

// margin top
@each $name, $size in $sizes {
  .mt-#{$name} {
    margin-top: $size;
  }
}

// margin-right
@each $name, $size in $sizes {
  .mr-#{$name} {
    margin-right: $size;
  }
}

// margin bottom
@each $name, $size in $sizes {
  .mb-#{$name} {
    margin-bottom: $size;
  }
}

// text utilities
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }
.text-bold { font-weight: 700; }
.text-italic { font-style: italic; }
